.vscode/**
.vscode-test/**
src/**
backend/**
docs/**
design-mockups/**
node_modules/**
.gitignore
.eslintrc.json
esbuild.js
tsconfig.json
**/*.map
**/*.ts
.github/**
scripts/**
dev/**
admin/**
SECURITY.md
